<%= form_for current_page do |f| %>

	<p><%= f.label :title %><br /><%= f.text_field :title %></p>

	<% unless f.object.new_record? %>

		<%# asset_drop(:page, :file_id) %>
		<%= f.asset_drop(:file_id) %>

		<p><%= text_area_tag :body, nil, :class => :textile %></p>

	<% end %>

	<%= f.submit %>

<% end %>

<%= assets_toolbar %>
