<%= form_for current_page do |f| %>

	<p><%= f.label :title %><br /><%= f.text_field :title %></p>

	<%= asset_drop(:form => f, :field => :file_id) %>

	<%= f.submit %>

<% end %>

<%= assets_toolbar %>